.city {
    border: 2px solid black;
    width: 300px;
    /* margin: 20px; */
    padding: 15px;
    background-color:tomato ;
    color: white;
    position: relative;
    height: fit-content;
    left: 30px;

}
.image {
  position: absolute;
  left: 25px;
  color: black;
  z-index: -1;

}

.main-box{
  width: 800px;
  height: 500px;
  border: solid;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-around;
  align-items: center;
  
}
