.city {
    border: 2px solid black;
    width: 300px;
    margin: 20px;
    padding: 15px;
    background-color:tomato ;
    color: white;
    position: absolute;
    top: 50px;
    

}
.image {
  position: relative;
  text-align: center;
  color: white;

}

